<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="<%= root_path %>">Blog App</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav  mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="<%= root_url %>">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <ul class="navbar-nav"
          <% if user_signed_in? %>
            <span class="navbar-text">Signed in as <%= current_user.email %></span>
            <li class="nav-item">
              <%= link_to 'Signout', destroy_user_session_path, method: :delete, class: 'nav-link' %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'Sign up', new_user_registration_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <% flash.each do |name, msg| %>
          <div class="text-center alert alert-<%= name == 'notice'? 'success' : 'danger'%>">
            <%= msg %>
          </div>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
